<div class="columns">
  <div class="col-9 column">
    <ng-template #listItem *ngFor="let item of items; let i = index"></ng-template>
  </div>
</div>
<div class="col-3 column">
  <ng-template #formWrapper></ng-template>
</div>
