<div>
  <span>ID: {{ item.id }}</span> - <span>name: {{ item.name }}</span>
  <a href="javascript: void(0)" (click)="edit()">Edit</a>
  <a href="javascript: void(0)" (click)="delete()">Delete</a>
</div>
